body, html, #root {
    margin: 0;
    padding: 0;
  }
.hamburger {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
    margin: 0;
}

.menu nav ul {
    font-size: 18px;
    font-weight: 500;
}
.menu>nav {
    margin: 0 1rem;
    overflow: hidden;
}

.menu nav ul li {
    transition: color 0.3s ease, font-weight 0.3s ease;
    color: black;
    cursor: pointer;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.70rem;
}


.menu nav ul li:hover {
    color: #000;
    font-weight: bold;
}

.link-list {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + .menu {
    width: 100%; /* Set width to 100% when the menu is checked (open) */
    left: 0; /* Start from the left edge */
  }

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
}
.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #000;
    /* position: absolute; */
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 13px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 1050px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 100px;
        left: 0;
        gap: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    .link-list {
        flex-direction: column;
    }
    
    #menu-toggle~.menu nav {
        max-height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        overflow: hidden;
        transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked~.menu nav {
        max-height: 1000px;
        padding: 0.5em;
        transition: all 0.4s ease-in-out, padding 0.4s ease-in-out;
    }
    
      


      
    .menu>nav {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        /* color: black; */
        background-color: rgba(245, 245, 245, 0.8);
    }
    .menu nav ul li {
        color: black;
    }

    .menu nav ul li:hover {
        font-weight: bold;
    }
}

